<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1 class="text-center">Create your profile!</h1>
		<p class="text-center">Filling out your profile will give other users a better understanding of what kind of parties you might like to attend.</p>
		<div class="well">
		<%= render "form" %>
		</div>
	</div>
</div>